@{
    ViewData["Title"] = "About Me";
}
<h1>@ViewData["Title"]</h1>


<div class= "container" >


    <div class="row">
       
        <div class="col-2" >
            <img src="~/unnamed.png" alt="" style="border-radius: 50%; padding: 2%; background-color: black;" />
        </div>
        <div class="col-7">
            <p>

                My Name is Joseph Kiel Tejada. <br />

                I usually play games most of the time but I love interacting with other people as well. <br />

                Some of my hobbies include:
                <ul>
                    <li>
                        Solving Rubik's cubes'
                    </li>
                    <li>
                        Sleeping
                    </li>
                    <li>
                        Playing Guitar
                    </li>
                    <li>
                        Watching a lot of anime
                    </li>
                </ul>

                In terms of coding, I think I'm starting to prefer Visual Studio than VSC when coding websites because MVC exists.<br />
                However, I still miss the live view I had, hoping we learn an extension that can offer live view to every change. <br />


            </p>

        </div>
    </div>

</div>



